<nav>
  <div class="main">
  </div>
</nav>

<div class="hero">
  <img class="logo" src='assets/images/Cellar_Logo.svg' alt='logo'/>
  <h1 class="subhed">— because wine tastes better when it's organized —</h1>
</div>

<div class="rack">
  <img src='assets/images/Rack.svg' alt='rack' />
</div>
  
<div class="redLink">
  <a href="/wines/reds"><img class="redLink back" src='assets/images/RackRedLinkBack.svg' alt='rack' /></a>
</div>  

<div class="whiteLink">
  <a href="/wines/whites"><img class="whiteLink back" src='assets/images/RackWhiteLinkBack.svg' alt='rack' /></a>
</div>  

<div class="otherLink">
  <a href="/wines/others"><img class="otherLink back" src='assets/images/RackOtherLinkBack.svg' alt='rack' /></a>
</div>  
