<nav>
  <div class="main">
    {{#if currentUser}}
    <a href="/logout">Logout {{currentUser.local.email}}</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </div>
</nav>

<div class="hero">
<img class="logo" src='assets/images/Cellar_Logo.svg' alt='logo'/>
<h2 class="subhed">— because wine tastes better when it's organized —</h2>
</div>
<div class="rack">
  <img src='assets/images/Rack.svg' alt='rack' />
</div>
  
<div class="redLink">
  <a href="/wines/reds"><img class="redLink back" src='assets/images/RackRedLinkBack.svg' alt='rack' /></a>
</div>  
<div class="whiteLink">
  <a href="/wines/whites"><img class="whiteLink back" src='assets/images/RackWhiteLinkBack.svg' alt='rack' /></a>
</div>  
<div class="otherLink">
  <a href="/wines/others"><img class="otherLink back" src='assets/images/RackOtherLinkBack.svg' alt='rack' /></a>
</div>  

{{!-- <img class="rack back" src='assets/images/RackNav.svg' alt='rack' /> --}}


  
  {{!-- <div class="container">
    <a href="/wines/reds"><img class=" backRed" src='assets/images/RackNavRed.svg' alt='link'/></a>
    <a href="/wines/whites"><img class="backWhite" src='assets/images/RackNavWhite.svg' alt='link'/></a>
    <a href="/wines/others"><img class="backOther" src='assets/images/RackNavOther.svg' alt='link'/></a>
  </div> --}}

{{!-- 
  <div class="mainlink">
    <a class="mainlink" href="/wines/reds">Reds</a>
    <a class="mainlink" href="/wines/whites">Whites</a>
    <a class="mainlink" href="/wines/others">Other</a>
  </div> --}}