<nav>
  <div class="user">
    {{#if currentUser}}
    <a href="/logout">Logout {{currentUser.local.email}}</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </div>
</nav>

<div class="hero">
<img class="logo" src='assets/images/Cellar_Logo.svg' alt='logo'/>
</div>
<div>
<img class="rack" src='assets/images/Rack.svg' alt='rack' />
</div>
  <div><a href="/wines/reds"><img class="rack backRed" src='assets/images/RackNavRed.svg' alt='link'/></a></div>
  <div><a href="/wines/whites"><img class="rack backWhite" src='assets/images/RackNavWhite.svg' alt='link'/></a></div>
  <div><a href="/wines/others"><img class="rack backOther" src='assets/images/RackNavOther.svg' alt='link'/></a></div>

