<body style="background-color:#a50e37">
  

<nav class="reds">
  <a href="/wines">
    <img class="cellarSmall" src='/assets/images/Cellar_Logo_white.svg' alt='logo'>
  </a>
  <div class="user">
    {{#if currentUser}}
    <a href="/logout">Logout {{currentUser.local.email}}</a>
    {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    {{/if}}
  </div>
</nav>


<h2 class="login">Login</h2>
{{!-- 
{{#if message}}
  <div class="alert">{{message}}</div>
{{/if}} --}}

<form method="post" action="/login">
  <div class="forms">
    <label for="email">Email:</label>
    <input class="forms" type="text" name="email" id="email">
  </div>

  <div class="forms">
    <label for="email">Password:</label>
    <input class="forms" type="password" name="password" id="password">
  </div>

  <div class="center">
    <input class="btn edit" type="submit">
  </div>  
</form>