body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: #a50e37;
  height: 50px;
  padding: 10px 20px;
}

h1 {
  font-size: 40px;
  color: #4c0118;
  text-align: center;
}

h2 {
  font-size: 40px;
  line-height: 45px;
}

h2, h3, h4 {
  color: #4c0118;
  font-weight: 800;
  text-align: left;
}

.login {
  color: white;
  text-align: center;
}

.others {
  background: #f8aba5;
}

.whites {
  background: #c0d731;
}

.cellarSmall {
  width: 160px;
  margin: -10px 0 0 20%;
}

.main {
  text-align: right;
  width: 80%;
  margin-top: 20px;
}

.main > a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 20px;
}

.user {
  text-align: right;
  width: 80%;
  margin-top: -60px;
}

.user > a {
  color: white;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 20px;
}

.subhed {
  margin-top: -10px;
  font-size: 30px;
}

.hero {
  width: 50%;
  height: auto;
  position: relative;
  margin: 0 auto;
  display: block;
}

.logo {
  margin: 80px 0 40px 0;
}

.rack {
  width: 40%;
  display: block;
  margin: 0 auto;
}

.redLink {
  width: 22%;
  margin-top: -5.9%;
  margin-left: 31.5%;
}

.whiteLink {
  width: 22%;
  margin-top: -4.1%;
  margin-left: 39.2%;
}

.otherLink {
  width: 22%;
  margin-top: -4.29%;
  margin-left: 46.9%;
}

.back {
  position: relative;
  opacity: 0;
}

.back:hover {
  opacity: 1;
} 

.list {
  text-decoration: none;
  display: block;
  color: black;
  font-weight: 800;
}

.listHeader {
  padding: 20px 0 20px 0;
  width: 20%;
  margin: 0 auto;
}

.bottle {
  float: left;
  margin-left: 30%;
  padding-right: 40px;
  width: 10%;
}

table {
  width: 60%;
  margin: 0 auto;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {
  background: rgba(237, 201, 142, 0.1)
}

tr:nth-child(odd) {
  background: rgba(237, 201, 142, 0.3)
}

.add {
  width: 80%;
  text-decoration: none;
  text-align: center;
  display: relative;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 20px;
  color: #4c0118;
  text-transform: uppercase;
}

.forms {
  text-align: center;
}

.edit {
  color: #4c0118;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  display: block;
}

.show {
  text-align: left;
}

label {
  padding-top: 12px;
  display: block;
  color: #ffffff;
}

#status {
  color: #4c0118;
}

input, textarea {
  margin-top: 8px;
}

.wineList {
  margin-bottom: 20px;
}
.footer {
  margin-top: 40px;
  height: 30px;
  background: #a50e37;
  color: #a50e37;
}
