
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background: #a50e37;
  height: 50px;
  padding: 10px 20px;
}

.others {
  background: #f8aba5;
}

.whites {
  background: #c0d731;
}

.cellarSmall {
  width: 160px;
  float: left;
  margin: -10px 0 0 20%;
}

.user {
  text-align: right;
  margin-top: 20px;
  width: 80%;
}
.user > a {
  color: #edc98e;
  text-decoration: none;
  padding: 6px 12px;
  font-size: 20px;
}

.hero {
  width: 50%;
  height: auto;
  position: relative;
  margin: 0 auto;
  display: block;
}

.logo {
  margin: 80px 0 40px 0;
}

.rack {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.list {
  text-decoration: none;
  display: block;
}

.listHeader {
  padding: 20px 0 20px 0;
  width: 20%;
  margin: 0 auto;
}

table {
  width: 60%;
  margin: 0 auto;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {
  background: rgba(237, 201, 142, 0.1)
}

tr:nth-child(odd) {
  background: rgba(237, 201, 142, 0.3)
}

